// FONTS
$font-rubik: 'Rubik', sans-serif;

//COLORS 
$yellow: #f3c623;
$lightBlue: #127681;
$darkBlue: #10375c;
$lightRed: #FF6584;

* {
    outline: none !important;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    list-style-type: none;
    box-sizing: border-box;


  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: $yellow;
  }
  
}

.btn {

    &.btn--yellow {
        background-color: $yellow;
        border: 2px solid $yellow; 
        color: black;
        font-size: 13px;
        padding: 10px 20px;
        font-family: $font-rubik;
        font-weight: 500;
        text-align: center;
        &:hover {
            background: none;
            color: $yellow;
        }
    }
}

.container {
    width: 1600px;
    margin: 0 auto;

    @media screen and (max-width: 1600px) {
        width: 95%;
    }
}

// Remove autocomplete color

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}