// GENERAL STYLING OF THE APPLICATION
@import './template';

// SLICK
@import './slick/slick';
@import './slick/slickTheme';


//PAGES
@import './pages/Home/home';
@import './pages/AddItem/additem';

//COMPONENTS
@import './components/Header/header';
@import './components/Footer/footer';
@import './components/Card/card';
@import './components/AddApartmentForm/form';


