.card--wrap {
    width: 25%;
    padding: 0 10px 20px;
    height: inherit;

    @media screen and (max-width: 1480px) {
        width: 33.33%;
    }

    @media screen and (max-width: 1024px) {
        width: 50%;
    }

    @media screen and (max-width: 560px) {
        width: 100%;
    }

    .card { 
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16)
        }
        
        .image {
            width: 100%;
            padding-top: 56.25%;
            background-position: center;
            background-size: cover;
            background-color: $yellow;
        }

        .text {
            padding: 20px 10px;
            flex-grow:100;

            h2 {
                font-family: $font-rubik;
                margin: 0 0 10px;
                color: black;
                font-size: 22px;
                font-weight: 500;
            }

            p {
                font-family: $font-rubik;
                margin: 0 0 10px;
                color: black;
                font-size:16px;
                font-weight: 400;
            }

            ul {

                li {
                    font-family: $font-rubik;
                    margin: 0 0 10px;
                    color: black;
                    font-size:16px;
                    font-weight: 400;
                    line-height: 1;

                    span {
                        color: $yellow;
                    }
                }
            }


        }

        .btn {
            width: 100%;
        }
    }
}