.page-home {
    padding: 50px 0;

    @media screen and (max-width: 560px) {
        padding: 20px 0;
    }

    .content {

        .hero {
            width: 100%;

            img {
                display: block;
                width: 70%;
                height: auto;
                margin: 0 auto 100px;

                @media screen and (max-width: 768px) {
                    margin: 0 auto 50px;
                }

                @media screen and (max-width: 560px) {
                    margin: 0 auto 20px;
                }
            }
        }

        h1 {
            color: black;
            font-family: $font-rubik;
            margin-bottom: 100px;
        }

        .cards {
            display: flex;
            margin: 0 -10px;
            flex-wrap: wrap;
        }
    }
}