footer {
    background: $yellow;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: black;
        font-family: $font-rubik;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }
}