form {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 50px 0;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);

    h1 {
        margin: 0 0 30px;
        text-align: center;
        font-family: $font-rubik;
        font-weight: 400;
        color: black;
        text-transform: uppercase;
        font-size: 30px;
    }

    label {
        font-family: $font-rubik;
        font-weight: 500;
        color: black;
        font-size: 16px;
        line-height: 1;
        margin: 0 0 10px;
    }

    input,
    textarea {
        margin-bottom: 20px;
        border: 1px solid rgb(214, 214, 214);
    }

    input {
        height: 40px;
        font-family: $font-rubik;
        font-weight: 500;
        color: black;
        font-size: 16px;
        padding: 0 20px;
    }

    textarea {
        resize: none;
        font-family: $font-rubik;
        font-weight: 500;
        color: black;
        font-size: 16px;
        padding: 10px 20px;
        line-height: 20px;
    }

    .input-file-cont {
        width: 100%;
        position: relative;
        margin-bottom: 20px;

        input {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 20;
            cursor: pointer;
        }

        .cover {
            background: $lightRed;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            text-align: center;
        }

        .text {
            color: white;
            font-family: $font-rubik;
        }
    }
}